@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Final Project</title>
    </head>

    <body>
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>

    <div class="index">

        
        <header>Welcome to Cuyahoga Community College Student Services Online</header>
        <p>
           Cuyahoga Community College recognizes students' rights to access personal and
           academic records in accordance with the Family Educational Rights and Privacy Act
           of 1974 (FERPA) as amended by Public Law 93-568.
        </p>

        <div class="container">

            <div class="login">

                <div class="message1">Already have an account with us? Returning users may log in by entering their site username and password.</div>

                <div class="data">
                    <div class="mobileHeader">Log In</div>
                    <div class="tag">Username </div>
                    <input id="LoginUsername" type="text" name="username" />
                    <div id="UsernameError" class="error"></div>
                    <div class="tag">Password </div>
                    <input id="LoginPassword" type="password" name="password" />
                    <div id="PasswordError" class="error"></div>
                    <div class="LoginButton">Log In</div>
                </div>

                <div class="break"></div>

                <div class="message2">New users, please create a new account by providing us with some basic information.</div>

                <img src="~/Images/TriCLogo.png" alt="Tri-C Logo"/>

                <div class="data">
                    <div class="mobileHeader">Create Account</div>
                    <div class="tag">Username </div>
                    <input id="NewUsername" type="text" name="username" value=""/>
                    <div id="NewUsernameError" class="error"></div>
                    <div class="tag">Password </div>
                    <input id="NewPassword" type="password" name="password" value=""/>
                    <div id="NewPasswordError" class="error"></div>
                    <div class="tag">Email </div>
                    <input id="NewEmailAdd" type="text" name="email" value=""/>
                    <div id="NewEmailAddError" class="error"></div>
                    <div class="tag">Repeat E-mail Address </div>
                    <input id="NewEmailCon" type="text" name="email repeat" value=""/>
                    <div id="NewEmailConError" class="error"></div>
                    <div class="CreateAccountButton">Create Account</div>
                </div>

            </div>

            

            <div class="accountInfo">

                <div class="displayInfo"></div>

                <div class="break"></div>

                <div class="addInfo">
                    <div class="data">
                        <div class="tag">ElementName </div>
                        <input id="ElementName" type="text" name="elementname" />
                        <div id="ElementNameError" class="error"></div>
                        <div class="tag">ElementValue </div>
                        <input id="ElementValue" type="text" name="elementvalue" />
                        <div class="AddElementButton">Add</div>
                    </div>

                    <img src="~/Images/TriCLogo.png" alt="Tri-C Logo" />

                </div>

            </div>
        
        </div>

        <footer>Cuyahoga Community College <br /> 700 Carnegie Avenue, Cleveland, Ohio 44115</footer>

    </div>

    </body>

</html>